body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #F5F5F5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-primary {
  background-color: red;
}

.ant-layout-header {
  /* background: inherit; */
}

.ant-breadcrumb ol {
  background-color: white;
}

.site-layout-content {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;

  margin-bottom: 100px
}

.ant-menu-item {
  font-weight: bold;
}